.board {
  border-radius: 5px;
  padding: 0;
  border: 1px solid #ddd;
  width: 300px;
  cursor: pointer;
}
.board .board__color {
  width: 60px;
  height: 50px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 30px 0;
}
.options{
    right: 20px;
    top: 50%;
    color: var(--grey_color);
    /* bottom: 50%; */
    transform: translateY(-50%);
}
.board .board__title {
  font-size: 15px;

  color: rgb(126, 123, 123);
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  margin-left: 10px;
}
