* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next";
}
:root {
  --grey_color: #717171;
  --red_color: #d33852;
}
.pointer {
  cursor: pointer;
}
.center {
  display: grid;
  place-items: center;
}

.grey {
  color: var(--grey_color);
}
.u-f-b {
  padding: 10px 10px;
  width: 11rem;
  border: 1px solid #ddd;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: var(--grey_color);
  cursor: pointer;
  border-radius: 5px;
}

.u-f-b input {
  display: none;
}
