* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next";
}
:root {
  --grey_color: #717171;
  --red_color: #d33852;
}
a{
  text-decoration: none;
}
.pointer{
  cursor: pointer;
}
.center{
  display: grid;
  place-items: center;
}

.grey{
  color: var(--grey_color);
}
